@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if(SignInManager.IsSignedIn(User))
	{
		<p>Welcome, @User.Identity.Name</p>
	}
	else
	{
		<p>Welcome, Guest</p>
	}
</div>
